<div ng-controller="CustomersController">
	<h2>Add a new customer</h2>
	<h3>Customer Name: <input type="text" ng-model="newCustomer.name"><input type="submit" ng-click="addCustomer()" value="Add"></h3>
	<br><br>
	<hr>

	<table>
		<input type="text" ng-model="filter_name" value="search name...">
		<col width="300">
		<col width="300">
		<col width="300">
		<tr align="left">
			<th>Team Name</th>
			<th>Created Date</th>
			<th>Actions</th>
		</tr>
		<tr ng-repeat="customer in customers | filter: filter_name" align="left">
			<td>{{ customer.name }}</td>
			<td>{{ customer.createdAt | date: 'MMMM dd, yyyy'  }}</td>
			<td><input type="submit" ng-click="deleteCustomers(customer)" value="Remove"></td>
		</tr>
	</table>
	<br>
</div>
