<div ng-controller="TeamsController">
	<h2>Add a new customer</h2>
	<h3>Customer Name: <input type="text" ng-model="newTeam.name"><input type="submit" ng-click="addTeams()" value="Add"></h3>
	<br><br>
	<hr>

	<table>
		<input type="text" ng-model="filter_name" value="search name...">
		<col width="300">
		<col width="300">
		<col width="300">
		<tr align="left">
			<th>Team Name</th>
			<th>Created Date</th>
			<th>Actions</th>
		</tr>
		<tr ng-repeat="team in teams | filter: filter_name" align="left">
			<td>{{ team.name }}</td>
			<td>{{ team.created_at }}</td>
			<td><input type="submit" ng-click="deleteTeams(team)" value="Remove"></td>
		</tr>
	</table>
	<br>
</div>